.todo {
    &-head {
        padding: 16px 16px 16px 60px;
        position: relative;
        border-bottom: 1px solid rgba(0,0,0,0.04);

        .toggle-all {
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;            
        }

        .toggle-icon {
            position: absolute;
            width: 60px;
            height: 30px;
            top: 15px;
            left: 0px;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            text-align: center;
            cursor: pointer;

            &.active {
                &:before {
                    color: #777;
                }
            }

            &:before {
                content: '❯';
                font-size: 22px;
                color: #e6e6e6;
                padding: 16px 25px;
            }
        }
    }

    &-input {
        font-size: 24px;
        border: none;
        line-height: 1.4;
        padding: 0;
        font-weight: 500;
        box-shadow: none !important;
    }

    &-form {
        .ant-form-item {
            margin: 0;
        }
    }
}